<% include _layouts/header.ejs %>

<%- content %>

<form action="/" method="post">
    <input type="text" name="currency" placeholder="ETH">
    <button name="btn">ETH in USD</button>
</form>

<% include _layouts/footer.ejs %>